<div class="point" style="float:left;">
    POINTS: {{link.point}}
</div>
 
<div>
   <h3>{{link.title}}</h3>
   <p>({{link.url}})</p>
</div>

<div>
    <button mat-button color="primary" (click)="upVoteBtnOnClick()">
        <mat-icon>north</mat-icon>
        Up Vote
    </button>
    <button mat-button color="accent" (click)="downVoteBtnOnClick()">
        <mat-icon>south</mat-icon>
        Down Vote
    </button>
    
    <button mat-button (click)="removeLinkBtnOnClick()">
        <mat-icon>cancel</mat-icon>
        Remove
    </button>
</div>

<hr/>